.about-us__title {
  .title();
}

.about-us__list {
  .list();
  width: 100%;
}

.about-us__item {
  line-height: 20px;
  width: 100%;
  position: relative;
  padding-top: 85px;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    min-height: 85px;
    top: 0;
    left: -30px;
    width: 100%;
  }

  &--ecology::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: left 38px top 30px;
    background-size: 32px 38px;
  }

  &--style::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position: left 30px top 30px;
    background-size: 47px 28px;
  }

  &--likes {
    padding-top: 82px;

    &::before {
      background-image: url("../img/icon-feature-heart.svg");
      background-position: left 37px top 34px;
      background-size: 33px 28px;
    }
  }

  &--handmade {
    padding-top: 82px;

    &::before {
      background-image: url("../img/icon-feature-ball.svg");
      background-position: left 33px top 30px;
      background-size: 35px 35px;
    }
  }

  &--domestic::before {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: left 24px top 34px;
    background-size: 54px 23px;
  }

  &--gift {
    padding-top: 82px;

    &::before {
      background-image: url("../img/icon-feature-gift.svg");
      background-position: left 33px top 33px;
      background-size: 33px 33px;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-us__title {
    .title-tablet();
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .about-us__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    padding-top: 103px;

    &::before {
      min-height: 110px;
      left: -50px;
    }

    &--ecology {
      order: 1;

      &::before {
        background-position: left 58px top 48px;
        min-height: 105px;
      }
    }

    &--style {
      order: 3;
      padding-top: 110px;

      &::before {
        background-position: left 50px top 57px;
      }
    }

    &--likes {
      order: 5;
      padding-top: 110px;

      &::before {
        background-position: left 60px top 63px;
      }
    }

    &--handmade {
      order: 2;

      &::before {
        background-position: left 53px top 50px;
        min-height: 105px;
      }
    }

    &--domestic {
      order: 4;

      &::before {
        background-position: left 44px top 52px;
      }
    }

    &--gift {
      order: 6;

      &::before {
        background-position: left 53px top 52px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us__title {
    .title-desktop;
  }

  .about-us__list {
    margin-right: 175px;
  }

  .about-us__item {
    width: 350px;
  }
}
