.about-us__title {
  .title();
}

.about-us__list {
  .list();
  width: 100%;
}

.about-us__item {
  line-height: 20px;
  width: 100%;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 83px;
    width: 100%;
  }

  &--ecology::before {
    background-image: url("../../img/icon-feature-flower.svg");
    background-position: left 8px top 28px;
    background-size: 32px 38px;
  }

  &--style::before {
    background-image: url("../../img/icon-feature-money.svg");
    background-position: left top 30px;
    background-size: 47px 28px;
  }

  &--likes::before {
    background-image: url("../../img/icon-feature-heart.svg");
    background-position: left 7px top 35px;
    background-size: 33px 28px;
  }

  &--handmade::before {
    background-image: url("../../img/icon-feature-ball.svg");
    background-position: left 3px top 33px;
    background-size: 35px 35px;
  }

  &--domestic::before {
    background-image: url("../../img/icon-feature-rocket.svg");
    background-position: left -6px top 34px;
    background-size: 54px 23px;
  }

  &--gift::before {
    background-image: url("../../img/icon-feature-gift.svg");
    background-position: left 3px top 33px;
    background-size: 33px 33px;
  }
}

@media (min-width: @tablet-width) {
  .about-us__title {
    .title-tablet();
    margin-bottom: 13px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .about-us__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;

    &--ecology {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--domestic {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us__title {
    .title-desktop;
  }

  .about-us__list {
    margin-right: 175px;
  }

  .about-us__item {
    width: 350px;
  }
}
