.catalog {
  position: relative;
}

.catalog__list {
  .list();
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__item-image {
  .link();
  height: 195px;
}

.catalog__item-title {
  .link();
  display: block;
}

.catalog__wrapper {
  padding: 0 28px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.catalog__item-wrapper {
  padding-top: 27px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ededed;
}

.catalog__name {
  .interactive();
  margin: 0;
  font: inherit;
  padding-bottom: 7px;
}

.catalog__description {
  color: @grey;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

.catalog__cost-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 25px;
}

.catalog__cost {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.catalog__button {
  border: 0;
  padding: 0;
  width: 30px;
  height: 20px;
  background-color: @white;
  text-align: end;

  &:hover svg {
    fill: @blue;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.catalog__button svg {
  fill: #d3d2d2;
  width: 20px;
  height: 19px;
}

@media (min-width: @tablet-width) {
  .catalog__item {
    margin-bottom: 54px;
    min-height: 334px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  .catalog__item-image {
    height: 334px;
  }

  .catalog__name {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
  }

  .catalog__description {
    font-size: 15px;
    padding-top: 2px;
  }

  .catalog__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__cost-wrapper {
    padding-top: 20px;
    padding-bottom: 28px;
  }

  .catalog__cost {
    font-size: 17px;
  }

  .catalog__item-wrapper {
    flex-grow: 1;
    padding-top: 23px;
  }

  .catalog__button {
    text-align: center;

  &:hover svg {
    fill: @blue;
  }

  &:active svg {
    opacity: 0.3;
  }
}
}

@media (min-width: @desktop-width) {
  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;
    min-height: 658px;
    width: 316px;
    margin-bottom: 57px;
  }

  .catalog__item-image {
    height: 462px;
  }

  .catalog__wrapper {
    min-height: 196px;
    width: 100%;
    flex-grow: 1;
  }

  .catalog__item-wrapper {
    padding-bottom: 0;
    padding-top: 25px;
  }

  .catalog__cost-wrapper {
    padding-bottom: 25px;
  }

  .catalog__description {
    padding-top: 0;
  }
}
