.contacts {

}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  font-size: 15px;
  line-height: 30px;
  text-transform: lowercase;
  color: @grey;
}

.contacts__property {

}

.contacts__value {

}

.contacts__email-link {
  .link();
  border-bottom: 1px solid @blue;

  &:hover {
    color: #46c1ae;
  }
  &:active {
    opacity: 0.3;
    border: 0;
  }
}

.contacts__map-wrapper {
  position: relative;
}

.contacts__map {
  position: absolute;
  z-index: 1;
}
.contacts__map--iframe {
  position: relative;
  z-index: 2;
}

.contacts__button {
  .link();
  .main-button();
}
