.contacts {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contacts__list {
  .list();
  font-size: 15px;
  line-height: 30px;
  color: @grey;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;
  width: 100%;
}

.contacts__property {
  text-transform: lowercase;
  vertical-align: top;
}

.contacts__email-link {
  .link();
  border-bottom: 1px solid @blue;
  color: @grey;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
    border: 0;
  }
}

.contacts__button {
  .link();
  .main-button();
  margin-top: 39px;
  padding: 16px 0;
  align-self: center;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    .title-tablet();
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__button {
    width: 230px;
  }
}


@media (min-width: @desktop-width) {
  .contacts {
    height: 458px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .contacts__title {
    .title-desktop();
    order: 1;
  }

  .contacts__list {
    flex-direction: column;
    order: 2;
  }

  .contacts__button {
    align-self: flex-start;
    order: 3;
  }

  .contacts__map-wrapper {
    order: 4;
  }
}
