.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__logo-wrapper {
  display: none;
}

.footer__contacts {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo-wrapper {
    display: block;
    min-width: 182px;
  }

  .footer__contacts {
    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__logo {
    display: block;
  }
}
