.footer {
  width: 320px;
  margin: 0 auto;
  margin-top: 39px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  display: none;
}

.footer__contacts {
  border-bottom: 1px solid #e5e5e5;
}
/*
.footer__copyright {

}
*/
@media (min-width: @tablet-width) {
  .footer {
    width: 768px;
    padding: 0 50px;
  }

  .footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 1250px;
    padding: 0 100px;
  }

  .footer__logo {
    display: block;
  }
}
