.header {
  width: 320px;
  margin: 0 auto;
}

.header__logo {
  .interactive();
}

.header__button {
  background-color: @white;
  border: 0;
}
/*
.header__navigation {

}

.header__menu {

}
*/

@media (min-width: @tablet-width) {
  .header {
    width: 768px;
  }

  .header__button {
    display: none;
  }

  .header__logo {
    flex-grow: 1;
    padding-left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: 1250px;
  }
  .header__logo {
    flex-grow: 1;
    padding-left: 100px;
  }
}
