.header {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .header {
    width: 768px;
  }

  .header__navigation {
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: 1250px;

    &--inner {
      width: 1150px;
    }
  }

  .header__navigation {
    padding: 0 100px;

    &--inner {
      padding: 0 50px;
    }
  }
}
