.main-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  outline: 2px solid red;

  &--header {
    padding: 0;
  }

  &--contacts {
    padding: 0;
  }

  &--wave {
    position: relative;
    padding-bottom: 70px;

    &::after {
      content: "";
      display: block;
      height: 6px;
      width: 100%;
      position: absolute;
      /*left: -18px;*/
      left: 0;
      bottom: 30px;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-repeat: repeat;
      background-size: 100% auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-wrapper {
    width: 768px;
    padding: 0 50px;

    &--contacts {
      padding: 0;
    }

    &--image {
      background-image: url("../../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: left bottom 153px;
      background-size: 350px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/review@2x.jpg");
      }
    }

    &--wave {
      padding-bottom: 125px;

      &::after {
        height: 15px;
        bottom: 60px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .main-wrapper {
    width: 1150px;
    padding: 0 50px;

    &--image {
      background-position: left 50px bottom 164px;
    }

    &--wave {
      padding-bottom: 164px;

      &::after {
        height: 22px;
        bottom: 80px;
      }
    }
  }
}
