.main__header {
  background-color: @light-grey;
  border-top: 1px solid #dfdfdf;
}

.main__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;

  &--header {
    padding: 0;
  }

  &--contacts {
    padding: 0;
  }
}

.main__contacts {
  margin-top: 44px;
  margin-bottom: 39px;
}

.main__reviews {
  margin-bottom: 45px;
  margin-top: 58px;
}

.main__about-us {
  margin-top: 31px;
}

.main__week-product {
  padding-bottom: 36px;
  margin-top: 30px;
}

.main__catalog {
  margin-top: 30px;
}

.main__making {
  margin-bottom: 58px;
}

.main__order-form {
  margin-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .main__header {
    margin-top: -55px;
  }

  .main__wrapper {
    width: 768px;
    padding: 0 50px;

    &--contacts {
      padding: 0;
    }
  }

  .main__contacts {
    margin-top: 70px;
    margin-bottom: 57px;
  }

  .main__reviews {
    margin-bottom: 69px;
    margin-top: 81px;
  }

  .main__about-us {
    margin-top: 59px;
  }

  .main__week-product {
    padding-bottom: 52px;
    margin-top: 54px;
  }

  .main__catalog {
    margin-top: 80px;
  }

  .main__order-form {
    margin-bottom: 50px;
  }

  .main__making {
    margin-bottom: 63px;
  }
}

@media (min-width: @desktop-width) {
  .main__header {
    border: 0;
  }

  .main__wrapper {
    width: 1250px;
    padding: 0 100px;

    &--inner {
      width: 1150px;
      padding: 0 50px;
    }

    &--header {
      padding: 0 50px;
    }
  }

  .main__order-form {
    margin-bottom: 50px;
  }

  .main__about-us,
  .main__reviews {
    padding-left: 175px;
  }

  .main__contacts {
    margin-top: 70px;
    margin-bottom: 105px;
  }

  .main__reviews {
    margin-bottom: 67px;
    margin-top: 87px;
  }

  .main__about-us {
    margin-top: 58px;
  }

  .main__week-product {
    padding-bottom: 73px;
    margin-top: 140px;
  }

  .main__catalog {
    margin-top: 130px;
  }

  .main__making {
    margin-bottom: 105px;
  }
}
