.main-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  /*outline: 2px solid red;*/

  &--header {
    padding: 0;
  }

  &--contacts {
    padding: 0;
  }

  &--wave {
    position: relative;
    padding-bottom: 70px;

    &::after {
      content: "";
      height: 6px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 30px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 6px;
      background-position: left center;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-wrapper {
    width: 768px;
    padding: 0 50px;

    &--contacts {
      padding: 0;
    }

    &--image {
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: left bottom 135px;
      background-size: 350px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/review@2x.jpg");
      }
    }

    &--wave {
      padding-bottom: 115px;

      &::after {
        height: 15px;
        background-size: auto 15px;
        bottom: 50px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .main-wrapper {
    width: 1150px;
    padding: 0 50px;

    &--image {
      background-position: left 50px bottom 150px;
    }

    &--wave {
      padding-bottom: 155px;

      &::after {
        height: 22px;
        background-size: auto 22px;
        bottom: 60px;
      }
    }
  }
}
