.main {
  width: 320px;
  margin: 0 auto;
  outline: 2px solid red;
}

.main__header {
  background-color: @light-grey;
}

.main__wrapper {
  padding: 0 30px;
  border-bottom: 6px solid @light-grey;
}

.main__contacts {
  margin-top: 44px;
  margin-bottom: 39px;
}

.main__reviews {
  margin-bottom: 45px;
  margin-top: 58px;
}

.main__about-us {
  margin-top: 31px;
}

.main__week-product {
  padding-bottom: 36px;
  margin-top: 30px;
}

.main__catalog {
  margin-top: 30px;
}

.main__making {
  margin-bottom: 58px;
}

.main__order-form {
  margin-bottom: 55px;
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .main {
    width: 768px;
  }
  
  .main__header {
    margin-top: -64px;
  }

  .main__wrapper {
    padding: 0 50px;
  }

  .main__contacts {
    margin-top: 70px;
    margin-bottom: 57px;
  }

  .main__reviews {
    margin-bottom: 69px;
    margin-top: 81px;
  }

  .main__about-us {
    margin-top: 59px;
  }

  .main__week-product {
    padding-bottom: 52px;
    margin-top: 54px;
  }

  .main__catalog {
    margin-top: 80px;
  }

  .main__order-form {
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .main__making {
    margin-bottom: 63px;
  }
}

@media (min-width: @desktop-width) {
  .main {
    width: 1250px;

    &--inner {
      width: 1150px;
    }
  }

  .main__wrapper {
    padding: 0;
    margin: 0 100px;

    &--inner {
      padding: 0 50px;
      margin: 0;
    }
  }

  .main__header {
    padding: 0 50px;
  }

  .main__order-form {
    margin-top: 125px;
    margin-bottom: 50px;
  }

  .main__about-us,
  .main__reviews,
  .main__contacts {
    padding-left: 175px;
  }

  .main__contacts {
    margin-top: 70px;
    margin-bottom: 105px;
  }

  .main__reviews {
    margin-bottom: 67px;
    margin-top: 87px;
  }

  .main__about-us {
    margin-top: 58px;
  }

  .main__week-product {
    padding-bottom: 73px;
    margin-top: 74px;
  }

  .main__making {
    margin-bottom: 105px;
  }
}
