.main__header {
  background-color: @light-grey;
  border-top: 1px solid #dfdfdf;
}

.main__contacts {
  margin-top: 44px;
  padding-bottom: 130px;
}

.main__reviews {
  margin-bottom: 45px;
  margin-top: 58px;
}

.main__about-us {
  margin-top: 31px;
}

.main__week-product {
  padding-bottom: 36px;
  margin-top: 30px;
}

.main__catalog {
  margin-top: 30px;
}

.main__making {
  margin-bottom: 58px;
}

.main__order-form {
  margin-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .main__header {
    margin-top: -55px;
  }

  .main__contacts {
    margin-top: 70px;
    padding-bottom: 164px;
  }

  .main__reviews {
    margin-bottom: 69px;
    margin-top: 81px;
  }

  .main__about-us {
    margin-top: 59px;
  }

  .main__week-product {
    padding-bottom: 52px;
    margin-top: 54px;
  }

  .main__catalog {
    margin-top: 80px;
  }

  .main__order-form {
    margin-bottom: 50px;
  }

  .main__making {
    margin-bottom: 63px;
  }
}

@media (min-width: @desktop-width) {
  .main__header {
    border: 0;
  }

  .main__order-form {
    margin-bottom: 50px;
  }

  .main__about-us,
  .main__reviews {
    padding-left: 175px;
  }

  .main__contacts {
    margin-top: 70px;
    padding-bottom: 105px;
  }

  .main__reviews {
    margin-bottom: 67px;
    margin-top: 87px;
  }

  .main__about-us {
    margin-top: 58px;
  }

  .main__week-product {
    padding-bottom: 73px;
    margin-top: 140px;
  }

  .main__catalog {
    margin-top: 130px;
  }

  .main__making {
    margin-bottom: 105px;
  }
}
