.making {
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.making__wrapper-title {
  margin: 25px 0;
}

.making__title {
  margin: 0;
}

.making__video {
  outline: 2px solid pink;
  position: relative;
  height: 150px;
  width: 100%;
}

.making__video-img {
  height: 150px;
  width: 260px;
}

.making__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../../img/icon-play.svg");
  background-repeat: no-repeat;
  width: 101px;
  height: 77px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2, 1.2) translate(-40%, -40%);
  }

  &:active {
    transform: scale(0.8, 0.8) translate(-60%, -60%);
    opacity: 0.3;
  }
}

.making__wrapper {
  margin-top: 30px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.making__description {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: normal;
  color: @grey;
  width: 80%;
}

.making__button {
  .main-button();
  font-size: 17px;
  line-height: 16px;
  color: @grey;
  background-color: @white;
  border: 2px solid @grey;
  padding: 16px 0;
  width: 80%;
}

@media (min-width: @tablet-width) {
  .making__video {
    height: 455px;
    width: 100%;
    order: -1;
  }

  .making__wrapper-title {
    margin: 30px 0;
    align-self: flex-start;
  }

  .making__video-img {
    height: 455px;
    width: 668px;
  }

  .making__wrapper {
    margin-top: 0;
    margin-bottom: 45px;
    width: 580px;
  }

  .making__description {
    font-size: 15px;
    line-height: 30px;
    width: 100%;
  }

  .making__button {
    align-items: center;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .making {
    min-height: 455px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
  }

  .making__video {
    height: 455px;
    width: 682px;
    position: absolute;
    left: 0;
    top: 0;
    
  }

  .making__video-img {
    height: 455px;
    width: 682px;
  }

  .making__wrapper-title {
    align-self: flex-end;
    width: 350px;
    padding-left: 60px;
    box-sizing: border-box;
  }

  .making__wrapper {
    width: 350px;
    padding-left: 60px;
    box-sizing: border-box;
    margin-bottom: 58px;
    align-items: flex-start;
  }

  .making__description {
    margin-bottom: 43px;
  }

  .making__button {
    width: 230px;
  }
}
