.menu {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.menu__list {
  .list();
}

.menu__item {
  &--interior {
    background-color: @blue;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.menu__link {
  color: @white;
  text-decoration: none;
  font-size: 19px;
  display: block;
  padding: 25px 30px;
  background-color: rgba(255, 255, 255, 0);

  &--interior {
    background-image: url("../../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: right 38px top 25px;
  }

  &--toys {
    background-image: url("../../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: right 27px top 23px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .menu__list {
    display: flex;
  }

  .menu__item {
    flex-grow: 1;
    min-height: 117px;
    width: 50%;
  }

  .menu__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-left: 35px;

    &--interior {
      background-position: right 38px top 30px;
    }

    &--toys {
      background-position: right 33px top 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .menu__link {
    padding: 28px 35px;

    &--toys {
      background-position: right 35px top 30px;
    }
  }
}
