.menu {
  .list;
}

.menu__item {
  border: 1px solid @border;
  border-bottom: 0;
  padding: 27px 0;

  &:last-child {
    border-bottom: 1px solid @border;
  }
}

.menu__link {
  .link();
  .interactive();
}

.menu__search {
  background-color: @white;
}
