.modal {

}

.modal__title {
  .title();
}

.modal__form {

}

.modal__form-field {

}

.modal__legend {
  color: @grey;
  font-size: 15px;
  line-height: 30px;
}

.modal__list {
  .list();
}

.modal__item {

}

.modal__input {

}

.modal__label {
  font-size: 16px;
  line-height: 15px;
}

.modal__button {
  background-color: @blue;
  color: @white;
  border: 0;
}
