.order-form {
  display: flex;
  flex-direction: column;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  color: @grey;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 23px;
  font-weight: normal;
}

.order-form__parameter {
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.order-form__legend {
  color: @blue;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    height: 1px;
    flex-grow: 1;
    background-color: @blue;
    margin-left: 27px;
  }
}

.order-form__list {
  .list();
}

.order-form__item {
  line-height: 18px;
  margin-top: 22px;
}

.order-form__label {
  font-size: 17px;
  line-height: 19px;
}

.order-form__input {
  border: 0;
  border-bottom: 2px solid @black;
  width: 100%;
  height: 54px;
  box-sizing: border-box;

  &:hover,
  &:active {
    border-bottom: 2px solid @blue;
  }
}

.order-form__tag {
  color: @grey;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
  margin-top: 18px;
}

.order-form__button {
  .main-button();
  width: 100%;
  padding: 15px 0;
  margin-top: 30px;
}


@media (min-width: @tablet-width) {
  .order-form__description {
    font-size: 17px;
    line-height: 30px;
    margin-top: 73px;
    margin-bottom: 57px;
  }

  .order-form__wrapper {
    background-color: @light-grey;
  }

  .order-form__parameter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
  }

  .order-form__legend {
    width: 167px;
    text-align: left;
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  .order-form__label {
    font-size: 19px;
    margin-right: 27px;
  }

  .order-form__list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .order-form__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .order-form__input {
    height: 58px;
    margin-top: 0;
    padding-left: 15px;
  }

  .order-form__button {
    width: 230px;
    margin-top: 53px;
  }

  .order-form__tag {
    width: 50%;
    order: 1;
    text-align: right;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__parameter {
    margin-right: 175px;
  }

  .order-form__description {
    margin: 0 175px;
    margin-top: 125px;
    margin-bottom: 55px;
  }

  .order-form__legend {
    width: 175px;
    padding-left: 62px;
    box-sizing: border-box;
  }

  .order-form__button {
    margin-left: 175px;
    margin-top: 49px;
  }
}
