.page-title {
  background-color: @light-grey;
  outline: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  

  &--home {
    height: 282px;
    background-color: transparent;
  }
}

.page-title__slogan {
  .title();
  text-align: center;
}

@media (min-width: @tablet-width) {

  .page-title {
    height: 159px;

    &--home {
      height: 562px;
    }
  }

  .page-title__slogan {
    .title-tablet();
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    height: 187px;

    &--home {
      height: 562px;
    }
  }

  .page-title__slogan {
    .title-desktop();
  }
}
