/*
.reviews {

}
*/
.reviews__title {
  .title();
}

.reviews__list {
  .list();
}
/*
.reviews__item {

}
*/
.reviews__review {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: @grey;
}
/*
.reviews__who {

}
*/
.reviews__contact {
  line-height: 30px;
  color: @grey;
}
/*
.reviews__toggles {

}
*/
.reviews__button {
  .link();
  .main-button();
}
