.reviews {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  .title();
}

.reviews__list {
  .list();
}

.reviews__review {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: @grey;
  margin: 0;
  margin-top: 23px;
}

.reviews__reviewer {
  margin-top: 29px;
}

.reviews__who {
  margin: 0;
}

.reviews__contact {
  line-height: 30px;
  font-weight: normal;
  color: @grey;
  margin: 0;
  margin-top: 4px;
}

.reviews__toggles {
  margin: 0;
  margin-top: 30px;
}

.reviews__button {
  .link();
  .main-button();
  display: block;
  margin-top: 38px;
  margin-bottom: 10px;
  padding: 14px 0;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .reviews {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__title {
    order: 1;
    .title-tablet();
  }

  .reviews__list {
    order: 3;
    width: 100%;
  }

  .reviews__review {
    font-size: 17px;
    margin-top: 47px;
  }

  .reviews__reviewer {
    margin-top: 58px;
  }

  .reviews__who {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__toggles {
    margin: 0;
    margin-bottom: 5px;
  }

  .reviews__button {
    order: 2;
    margin: 0;
    width: 173px;
    font-size: 17px;
    margin-top: 2px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .reviews__title {
    .title-desktop();
  }

  .reviews__review {
    width: 88%;
  }

  .reviews__reviewer {
    margin-top: 38px;
  }

  .reviews__who {
    font-size: 17px;
  }

  .reviews__button {
    margin-top: 7px;
    width: 175px;
  }
}
