.reviews {
  margin-top: 58px;
}

.reviews__title {
  .title();
}

.reviews__list {
  .list();
}
/*
.reviews__item {

}
*/
.reviews__review {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: @grey;
  margin: 0;
  margin-top: 28px;
}

.reviews__who {
  margin: 0;
  margin-top: 29px;
}

.reviews__contact {
  line-height: 30px;
  color: @grey;
  margin: 0;
  margin-top: 7px;
}

.reviews__toggles {
  margin: 0;
  margin-top: 30px;
}

.reviews__button {
  .link();
  .main-button();
  display: block;
  margin-top: 38px;
  margin-bottom: 45px;
}
