.slogan {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.slogan__list {
  .list();
}

.slogan__link {
  color: @white;
  text-decoration: none;
  font-size: 19px;
  display: block;
  padding: 27px 0;
  padding-left: 30px;

  &--interior {
    background-color: @blue;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .slogan__list {
    display: flex;
  }

  .slogan__item {
    flex-grow: 1;
  }

  .slogan__link {
    padding-left: 36px;
  }
}