.social {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  .list();
}

.social__item {
  display: inline-block;
}

.social__link {
  .link();
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 50px;
  margin: 0 12px;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
    background-size: 22px 21px;
    background-position: top 18px left 0;
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
    background-size: 15px 28px;
    background-position: center left 5px;
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
    background-size: 23px 20px;
    background-position: top 18px left 0;
  }
}
