.social {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    min-height: inherit;
    font-size: 0;
  }
}

.social__list {
  .list();
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.social__item {
  width: 60px;
}

.social__link {
  .link();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px 0;

  &--instagram {
    margin-right: 5px;
  }

  &--facebook {
    margin-right: 2px;
  }

  &--twitter {
    margin-right: 5px;
  }

  &:hover svg {
    fill: #66cabb;
    transition-duration: 0.5s;
  }

  &:active svg {
    opacity: 0.3;
    transition-duration: 0.3s;
  }
}

.social__link svg {
  fill: #2f2c2c;
}
