.social {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  .list();
}

.social__item {
  display: inline-block;
}

.social__link {
  .link();
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin: 0 14px;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
  }
}
