.week-product {
  background-color: @white;
}

.week-product__name {
  .title();
}

.week-product__label {
  line-height: 20px;
  color: @blue;
  text-transform: uppercase;
}

.week-product__description {
  font-size: 15px;
  font-weight: normal;
}

.week-product__properties {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
/*
.week-product__property {

}

.week-product__value {

}
*/
.week-product__cost {
  color: @grey;
}

.week-product__button {
  .main-button();
}
