.week-product {
  background-color: @white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.week-product__name {
  .title();
}

.week-product__label {
  line-height: 20px;
  color: @blue;
  text-transform: uppercase;
  margin: 0;
}

.week-product__wrapper {
  margin-top: 28px;
  margin-bottom: 28px;

  &--button {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

.week-product__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

.week-product__properties {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}

.week-product__stroke {
  border-bottom: 1px solid #ececec;
}

.week-product__property {
  padding: 10px 0;
  min-width: 80px;
}

.week-product__value {
  padding: 10px 0;
}

.week-product__cost {
  color: @grey;
  margin: 0;
  text-align: center;
}

.week-product__img {
  display: block;
}

.week-product__button {
  .main-button();
  margin-top: 27px;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .week-product {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .week-product__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .week-product__name {
    .title-tablet();
  }

  .week-product__label {
    width: 15%;
    line-height: 17px;
    text-align: center;
  }

  .week-product__wrapper {
    width: 50%;
    margin: 0;
    margin-top: 50px;
    margin-right: 50%;
    padding-right: 44px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    &--button {
      margin-top: 55px;
    }
  }

  .week-product__description {
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__properties {
    margin-top: 38px;
  }

  .week-product__property {
    min-width: 0;
  }

  .week-product__cost {
    font-size: 20px;
    line-height: 24px;
  }

  .week-product__img {
    position: absolute;
    right: 0;
    top: 110px;
  }

  .week-product__button {
    margin-top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .week-product {
    justify-content: flex-start;
    align-content: flex-end;
    min-height: 636px;
    box-sizing: border-box;
  }

  .week-product__title {
    justify-content: flex-start;
    z-index: 2;
  }

  .week-product__name {
    .title-desktop();
    order: 1;
  }

  .week-product__label {
    width: 175px;
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 8px;
    box-sizing: border-box;
  }

  .week-product__wrapper {
    padding-left: 175px;
    padding-right: 58px;

    &--button {
      margin-top: 108px;
    }
  }

  .week-product__properties {
    margin-top: 48px;
  }

  .week-product__button {
    margin-top: 33px;
  }

  .week-product__img {
    z-index: 1;
    margin-top: -110px;
  }
}
