.week-product {
  background-color: @white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.week-product__name {
  .title();
}

.week-product__label {
  line-height: 20px;
  color: @blue;
  text-transform: uppercase;
  margin: 0;
}

.week-product__description {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  margin-top: 28px;
}

.week-product__properties {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 27px;
  border-collapse: collapse;
}

.week-product__stroke {
  border-bottom: 1px solid #ececec;
}

.week-product__property {
  padding: 12px 0;
}

.week-product__value {
  padding: 12px 0;
}

.week-product__img {
  margin-top: 28px;
}

.week-product__cost {
  color: @grey;
  margin: 0;
  margin-top: 25px;
}

.week-product__button {
  .main-button();
  margin-top: 25px;
  padding: 16px 0;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .week-product {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .week-product__name {
    .title-tablet();
  }
  
  .week-product__label {
    width: 15%;
    text-align: center;
  }

  .week-product__details {
    height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }
  
  .week-product__description {
    width: 50%;
    order: 1;
  }

  .week-product__properties {
    width: 50%;
    order: 2;
  }

  .week-product__img {
    height: 404px;
    width: 50%;
    order: 5;
  }

  .week-product__cost {
    width: 50%;
    order: 3;
    text-align: center;
  }

  .week-product__button {
    order: 4;
    width: 292px;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .week-product {
    justify-content: flex-start;
    align-content: flex-end;
    height: 636px;
    outline: 2px solid red;
    background-image: url("../../img/triple-set-mobile@1x.jpg");
    background-size: 525px 636px;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .week-product__name {
    .title-desktop();
    order: 2;
  }
  .week-product__label {
    outline: 2px solid pink;
    width: 175px;
    order: 1;
  }
  .week-product__details {
    min-height: 490px;
    margin-left: 175px;
    order: 3;
  }

  .week-product__img {
    display: none;
  }

  .week-product__cost {
    margin-top: 110px;
  }

  .week-product__button {
    align-self: flex-start;
  }
}
