.main-title {
  font-size: 27px;
  line-height: 30px;
  color: @black;
  margin: 0;
}

.title() {
  font-size: 25px;
  line-height: 30px;
  color: @black;
  margin: 0;
}

.title-tablet() {
  font-size: 43px;
  line-height: 50px;
}

.title-desktop() {
  font-size: 53px;
  line-height: 57px;
}

.link() {
  text-decoration: none;
  color: @black;
  font: inherit;
}

.list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.interactive() {
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-button() {
  background-color: @white;
  color: @grey;
  border: 2px solid @grey;
  line-height: 20px;
  font-size: 18px;

  &:hover {
    background-color: @grey;
    color: @white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

/*======================
.radio() {
border: 2px solid #ececec;
  &:checked {
    border: 2px solid @blue;
  }

  &:hover {
    border: 2px solid #c7c7c7;
  }

  &:active {
    border: 2px solid @blue;
  }
}
========================*/
