@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fontsopensansbold.woff2") format("woff2");
}
/*===================================
общие для страниц
===================================*/
@import "node_modules/normalize.less/normalize.less";
@import url("variables.less");
@import url("mixins.less");
@import url("global.less");
@import url("blocks/visually-hidden.less");
@import url("blocks/button.less");
@import url("blocks/page-title.less");
@import url("blocks/main-wrapper.less");
@import url("blocks/header.less");
@import url("blocks/main.less");
@import url("blocks/footer.less");
/*===================================
index.html
===================================*/
@import url("blocks/nav.less");
@import url("blocks/menu.less");
@import url("blocks/week-product.less");
@import url("blocks/about-us.less");
@import url("blocks/reviews.less");
@import url("blocks/slider.less");
@import url("blocks/contacts.less");
@import url("blocks/social.less");
@import url("blocks/copyright.less");
@import url("blocks/modal.less");
/*===================================
catalog.html
===================================*/
@import url("blocks/catalog.less");
@import url("blocks/making.less");
/*===================================
form.html
===================================*/
@import url("blocks/order-form.less");
@import url("blocks/radio.less");
@import url("blocks/color.less");
@import url("blocks/name.less");
@import url("blocks/tel.less");
@import url("blocks/email.less");
@import url("blocks/textarea.less");
